body {
    background-color: rgb(246, 235, 190);
}

.container {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color: aliceblue;
}

.header {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.engine {
    text-align: center;
}

.btn {
    margin-left: 20px;
}

.info {
    margin-left: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content p {
    padding: 30px 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .container {
        margin-top: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        margin-top: 300px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        margin-top: 90px;
    }
}